.Header h1 {
  color: rgb(57, 77, 77);
  vertical-align: bottom;
}

.Header {
  height: 150px;
  width: 100%;
  border-bottom: 3px solid black;
  text-align: center;
}

.Silo {
  width: 65%;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}

.SubSilo { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-right: 30px;
  margin-left: 30px;
}

.Section {
  width: 250px;
  border: 2px solid black;
  box-shadow: 2px 5px 20px 5px blue;
}

.Section h3 {
  margin: 35px;
}

.LoginForm {
  margin: auto;
  margin-top: 30px;
  width: 40%;

  text-align: center;
}

input {
  margin: 4px;
}

.Title {
  margin: 20px;
  border: 3px black solid;
}

.MainWindow {
  border: 3px solid black;
  box-shadow: 2 2 2 red;
  min-height: 300px;
  width: 75%;
  margin: auto;
  margin-top: 80px;
}