h3, h5 {
  margin-left: 10px;
}

h6 {
  font-weight: bolder;
}

.Header h1 {
  color: rgb(57, 77, 77);
  vertical-align: bottom;
}

.Header {
  height: 150px;
  width: 100%;
  border-bottom: 3px solid black;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul li, a {
  display: inline;
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(255, 255, 255);
}

a:hover, a:active, a:link {
  text-decoration: none;
  color: rgb(216, 186, 186);
}
/* ---------Coloring---------------- */

.colorBG_Dark  {
  background-color: rgb(39, 14, 6);
}

/* ----------------------------------- */
.Silo {
  width: 65%;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}

.SubSilo { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 30px;
}

.Section {
  width: 250px;
  border: 2px solid black;
  box-shadow: 2px 5px 20px 5px blue;
}

.Section h3 {
  margin: 35px;
}

.LoginForm {
  margin: auto;
  margin-top: 30px;
  width: 40%;

  text-align: center;
}

input {
  margin: 4px;
}

.Title {
  margin: 20px;
  border: 3px black solid;
}

.MainWindow {
  border: 3px solid black;
  box-shadow: 2 2 2 red;
  min-height: 300px;
  width: 75%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 50px;
}

form {
  font-weight: 12px;
}

input[type=text], input[type=email], input[type=date] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}

form h6, form input {
  margin-left: 10px;
}

#dobInput {
  width: 30%;
}