.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Silo {
  width: 80%;
  margin: auto;
  margin-top: 15px;

}

.SubSilo { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-right: 30px;
  margin-left: 30px;
}

.Section {
  border: 2px solid black;
  box-shadow: 2px 5px 20px 5px blue;
}